beautifulsoup4==4.5.1
bs4==0.0.1
click==6.6
Flask==0.11.1
Flask-WTF==0.13.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.2
pandas==0.19.1
psycopg2==2.6.2
PySocks==1.5.7
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
SQLAlchemy==1.1.2
Werkzeug==0.11.11
WTForms==2.1
